<div [ngSwitch]="switchExpression">
  <div *ngSwitchCase="'form'">
    <form novalidate class="form-signin" (ngSubmit)="reset()" #signupForm="ngForm">
        <div class="alert alert-danger" role="alert" *ngIf="message !== ''">
          {{message}}
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)">
          <ng-container *ngIf="userPassword.errors?.mismatch;
            then first else second">
          </ng-container>
          <ng-template #first> Password does not match the confirm password.</ng-template>
          <ng-template #second>Password needs to be more than 6 characters.</ng-template>
        </div>
  
        <h4 class="mb-3">Reset Password</h4>
        <div class="offset-md-1 col-md-5 col-lg-4 col-xl-3">  

          <div ngModelGroup="passwordGroup" #userPassword="ngModelGroup" passwordMatch >
              <div class="form-group ">
              <label for="inputPassword" >Password:</label>
              <input id="inputPassword" required  minlength ="6" type="password" class="form-control" 
                placeholder="Password" [(ngModel)]="formData.password" name="pwd" #password="ngModel" [ngModelOptions]="{updateOn: 'blur'}" />
              </div>
    
              <div class="form-group">
              <label for="confirmPassword"  >Confirm Password:</label>
              <input id="confirmPassword" required  type="password" class="form-control" 
              placeholder="Confirm Password" [(ngModel)]="formData.confirmPassword" name="confirmPwd" [ngModelOptions]="{updateOn: 'blur'}"   />
            </div>
        </div>
  
        <div class="form-group">
          <button class="form-control btn btn-primary" type="submit" [disabled]="!signupForm.form.valid">Reset</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngSwitchCase="'invalid-token'">
      <h3>Oops ...</h3>
      <p>Invalid token. This token has expired or is invalid.</p>
      <div class="form-group">
        <button routerLink = "/" class="btn btn-md btn-primary">Go Home</button>
      </div>
  </div>

  <div *ngSwitchCase="'success'">
      <h3>Success</h3>
      <p>Password has been successfully changed.</p>
      <div class="form-group">
        <button routerLink = "/" class="btn btn-md btn-primary">Go Home</button>
      </div>
  </div>
</div>
