<form (ngSubmit)="onSubmit()" #probeForm="ngForm">
  <div style="height:50px;"></div>
  <h3>General Settings</h3> 
  <div class="form-group">
    <label for="probeURL">Probe URL:</label>
    <input name="probeURL" type="text" class="form-control" id="probeURL" 
        placeholder="http://www.google.com" required [(ngModel)]="probe.probeURL" #probeURL="ngModel">
  </div>
  <div [hidden]="probeURL.valid || probeURL.pristine"
     class="alert alert-danger">
     Probe URL is required
</div>
  
  <div class="form-group">
      <label for="interval">Monitoring interval:</label>
      <input type="range" class="form-control-range" id="interval" name="interval" [(ngModel)]="probe.interval">
    </div>
  
    <div class="form-group">
      <label for="locations">Locations (select multiple):</label>
      <select multiple class="form-control" name="locations" id="locations" [(ngModel)]="probe.locations" #locations="ngModel">
        <option *ngFor="let location of locations_list" value="{{location}}" >{{location}}  </option>
      </select>
    </div>

  <div class="form-group">
      <label for="port">Port:</label>
      <input type="number" class="form-control" id="port" placeholder="80" name="port" [(ngModel)]="probe.port" required  #port="ngModel">
  </div>

  <div [hidden]="port.valid || port.pristine"
  class="alert alert-danger">
  Port value is required
</div>

  <div class="form-group">
    <label for="method">Method:</label>
    <select class="form-control" id="method" name="method" [(ngModel)]="probe.method" #method="ngModel"> 
      <option *ngFor="let method of methods">{{method}}</option>
    </select>
  </div> 
  
  <div [hidden]="method.value!='POST'" class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="post-body-json">
      <label class="form-check-label" for="post-body-json"> POST body is JSON</label>
      <br/><br/>
  </div>

  <div [hidden]="method.value=='GET'" class="form-group">
    <label for="post-body">Request body:</label>
    <textarea class="form-control" id="post-body" rows="3"></textarea>
  </div>
      <div class="form-group">
      <label for="headers">Headers:</label>
      <textarea class="form-control" id="headers" rows="3" placeholder='{"key":"value"}' [(ngModel)]="probe.headers" name="headers" #headers="ngModel"></textarea>
    </div>

  <hr/> 
  <h3>Content Check</h3> 
  <div class="form-group">
      <label for="keywords">Keywords:</label>
      <input type="text" class="form-control" name="keywords" id="keywords" [(ngModel)]="probe.matchPolicy.keywords">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="exactMatch">
        <label class="form-check-label" for="exactMatch"> Exact match</label>
    </div>
<hr/>

   <h3>Basic Authentication</h3> 
    <div class="form-group">
        <label for="user">Username:</label>
        <input type="number" class="form-control" id="user">
    </div>

    <div class="form-group">
        <label for="pass">Password:</label>
        <input type="number" class="form-control" id="pass">
    </div>

    <hr>
    <h3>Notification</h3>
    <div class="form-group">
      <label for="policy">Notification policy:</label>
      <select class="form-control" name="policy" id="policy" [(ngModel)]="probe.notification_policy_id" >
        <option *ngFor="let policy of policies" value="{{policy._id}}">{{policy.name}}  </option>
      </select>
    </div>
  <!--{{diagnostic}}--> 
    <button type="submit" class="btn btn-success" [disabled]="!probeForm.form.valid">Save</button>
    <br/>
</form>