<h3>Notification History</h3>
<div *ngIf="logRecords?.length == 0; then emptyPage else content"></div>
<ng-template #emptyPage>
  <div class="row h-100">
    <div class="col-12 my-auto" >
      <div class="card text-center">
      <div class="card-body">
          <h5 class="card-title">No Records Found</h5>
          <p class="card-text">Your alerting history is clear.</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template class="top-buffer" #content>
<div >{{startVal}} - {{endVal}} of {{total}}</div>
<nav aria-label="Page navigation example">  
    <ul class="pagination">
      <li class="page-item" [class.disabled]="startVal===1">
        <span class="page-link" aria-label="Previous" (click) = "slide(-1)">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </span>
      </li>
      <li class="page-item" [class.disabled]="endVal===total">
        <span class="page-link"  aria-label="Next" (click) = "slide(1)">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </span>
      </li>
    </ul>
  </nav>
<table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date:</th>
        <th scope="col">Channel Type:</th>
        <th scope="col">Channel:</th>
        <th scope="col">Subject:</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of logRecords">
        <td>{{ record.logTime | date:'shortTime' }}</td>
        <td>{{ record.channelType }}</td>
        <td>{{ record.channel }}</td>
        <td>{{ record.subject }}</td>
        <td>  </td>
      </tr>
    </tbody>
  </table>  