<h4>Probes</h4>

<alert type="danger" *ngIf="errorMsg">
    <strong>Error: </strong> {{errorMsg}}
  </alert>

<div *ngIf="probes?.length == 0; then emptyPage else content"></div>

<ng-template #emptyPage>
    <div class="row" style="height: 70vh;">
        <div class="col-12 my-auto" >
          <div class="card text-center">
          <div class="card-body">
              <h5 class="card-title">No Probes</h5>
              <p class="card-text">You do not have any probes, in order to start monitoring add a probe.</p>
              <button routerLink = "/probe-edit" class="btn btn-primary">
                <i class="fa fa-plus mr-2" aria-hidden="true"></i>New Probe</button>
          </div>
          </div>
        </div>
      </div>
</ng-template>

<ng-template #content>
  <div class="d-flex mb-2">
    <button routerLink = "/probe-edit" class="btn btn-primary ml-auto">
      <i class="fa fa-plus mr-2" aria-hidden="true"></i>New Probe</button>
  </div>
  
    <div class="row mx-0" >
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1 m-0" *ngFor="let probe of probes">
        <div class="card card-hover h-100" style="min-width: 250px;">
          <div class="card-body">
              <div class="pull-right my-n1 mx-n3" >   
                  <!-- menu button--> 
                  <div class="btn-group menu" dropdown >
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-menu mr-2" aria-controls="dropdown-basic">
                        <i class="fa fa-ellipsis-h fa-lg fa-fw" aria-hidden="true"></i>
                      </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu" role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item" [routerLink]="['/probe-edit', probe._id]" >Edit</a></li>
                      <li role="menuitem">
                        <button class="btn dropdown-item"  (click)="toggleProbeStatus(probe._id)" >
                          {{ probe.active ? 'Pause' : 'Resume' }}
                        </button>
                      </li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"><button class="btn dropdown-item" (click) = "confirmDeletion(probe._id);" >Delete</button>
                      </li>
                    </ul>
                  </div>
                  <!-- menu button ends here-->  
              </div>
            
            <div class="card-title text-truncate mr-3" >
               <a [routerLink]="['/probe', probe._id]" title="{{ probe.probePrefix + probe.probeURL}}">{{ probe.name}}</a> 
            </div>
            
            <div *ngIf="probe.active && probe.probeTime">
            
              <div class="row">

                <div *ngIf="probe.avgResponseTime" class="col-6">
                  <small class="text-muted text-nowrap">AVG. RESPONSE:</small> 
                  <h4>{{ probe.avgResponseTime | number:'0.0-0'}} <small> ms </small></h4>
                </div>  

                <div class="col-6">
                    <small class="text-muted text-nowrap">UPTIME (24H):</small> 
                    <h4>{{probe.uptime | percent:'0.0-2'}}</h4>
                </div>  

              </div>

              <p class="card-text">
                <small class="text-muted"> 
                  <span class="badge" 
                  *ngIf="probe.contentCheck!==-1; else contentMatchFailure" 
                  [ngClass]="(probe.statusCode && probe.statusCode<=200) ? 'badge-success' : 'badge-danger'"> 
                  {{probe.statusCode}} {{probe.statusMsg}}</span>

                  <ng-template #contentMatchFailure>
                    <small> 
                      <span class="badge badge-danger" 
                        title="{{probe.statusCode}} {{probe.statusMsg}}">Content Match Failed</span></small>
                  </ng-template>
                  
                  <span *ngIf = "probe.responseTime"> {{ probe.responseTime | number:'0.0-0'}} ms </span>
                  at {{probe.probeTime | date:'shortTime'}} ({{locationLabels[probe.locName]}})
                </small>
              </p>
            </div>
    
            <ng-template [ngIf]="probe.active && !probe.probeTime">
              <div>Waiting for monitoring data. {{probe.length}}</div>
            </ng-template>

            <ng-template [ngIf]="!probe.active">
              <div>This probe is paused.</div>
            </ng-template>

          </div>
        </div>
    </div>
  </div>

</ng-template>