<h4>Notification Policies</h4>
<div *ngIf="policies?.length == 0; then emptyPage else content"></div>
<ng-template #emptyPage>
    <div class="row" style="height: 70vh;">
      <div class="col-12 m-auto p-5">
        <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">No Notification Policies</h5>
            <p class="card-text">You do not have any notification policy, in order to get alerts  a one.</p>
            <button routerLink = "/notf-policies-new" class="btn btn-primary">
              <i class="fa fa-plus mr-2" aria-hidden="true"></i>New Policy</button>
          </div>
        </div>
      </div>
    </div>
</ng-template>
<ng-template  #content>
  <div class="d-flex mb-2">
      <button type="button" class="btn btn-primary ml-auto" routerLink = "/notf-policies-new">
        <i class="fa fa-plus mr-2" aria-hidden="true"></i>New Policy</button>
  </div>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Policy:</th>
        <th scope="col">Threshold:</th>
        <th class="d-none d-md-table-cell" scope="col">Notify:</th>
        <th class="d-none d-md-table-cell" scope="col">Channels:</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of policies">
        <td>{{ policy.name }}</td>
        <td>
          <small>
            {{ policy.threshold_policy == 1 ? 'Any' : 'Min. ' + policy.threshold_policy }} 
            {{ policy.threshold_policy == 1 ? 'location registers' : 'locations, each register' }} 
            {{ policy.threshold_loc }} 
            {{ policy.threshold_loc == 1 ? 'failure.' : 'failures.' }} 
          </small>
        </td>
      
        <td class="d-none d-md-table-cell">
            <ul class="list-unstyled mb-0">
            <li><small>{{policy.continuous ? 'Continuously while threshold is reached' : 'Once, when threshold is reached'}}</small></li>
            <li *ngIf="policy.recovery"><small>On recovery</small></li>
          </ul>
          </td>
       
          <td class="d-none d-md-table-cell">
            <button 
              *ngIf = "policy?.channel_ids.length; else noChannels" type="button" class="btn btn-link" 
              (click)="channelsDialogService.showChannels(policy?.channel_ids)"> 
              {{ policy?.channel_ids.length }}
            </button>              
            <ng-template #noChannels></ng-template>

        </td>
        <td>
            <div class="btn-group float-right" dropdown placement="bottom right">
                <button id="button-basic" dropdownToggle type="button" class="btn btn-menu" 
                aria-controls="dropdown-basic">
                        <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" 
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/notf-policies-edit', policy._id]" >Edit</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><button class="btn dropdown-item" 
                    (click)="confirmDeletion(policy._id)">Delete</button>

                     <!--(click) = "deleteNotifyPolicy(policy._id)"-->
                  </li>
                </ul>
              </div>    
      </td>
      </tr>
    </tbody>
  </table>

  <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name">
</div>
</ng-template>


