<div class="alert alert-warning" role="alert" *ngIf="message !== ''">
  {{message}}
</div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <h4 class="mb-3">New Channel</h4> 
      <div class="form-group offset-md-1 offset-lg-2 col-md-10 col-lg-4">
        <label for="name">Channel name:</label>
        <input type="text" class="form-control" id="name" formControlName="name"
            placeholder="" required >
            
        <div [hidden]="formGroup.controls.name.valid || formGroup.controls.name.pristine"
        class="inline-error">
          Channel name is required
        </div>

      </div>

      <div class="form-group offset-md-1 offset-lg-2 col-md-10 col-lg-4">
        <label for="type">Channel Type:</label>
        <!--formGroup.controls.channel.reset()-->
        <select class="form-control" id="type" formControlName="type" (change)="channelChange()"> 
          <option *ngFor="let type of types" [ngValue]="type.typeKey">{{type.label}}</option>
        </select>
      </div> 
    
      <div class="form-group offset-md-1 offset-lg-2 col-md-10 col-lg-4">
        <div [ngSwitch]="formGroup.controls.type.value" >
          <div *ngSwitchCase = "'sms'">
            <label for="phone">{{notfTypes.getPropertyByKey(formGroup.controls.type.value).endpoint}}:</label>
            <ngx-intl-tel-input 
              id="sms"
              [cssClass]="'form-control'" 
              [separateDialCode] = "true"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true" 
              [enablePlaceholder]="false" 
              [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false" 
              [selectedCountryISO]="CountryISO.UnitedStates"
              [maxLength]="15" 
              [tooltipField]="TooltipLabel.Name" 
              [phoneValidation]="true" 
              [separateDialCode]="separateDialCode"
              formControlName="sms">
            </ngx-intl-tel-input> 
            <div [hidden]="formGroup.controls.sms.valid || !formGroup.controls.sms.touched" 
              class="inline-error" >{{notfTypes.getPropertyByKey(formGroup.controls.type.value).endpoint}} is required and must be valid.
            </div>  
          </div>

          <div *ngSwitchDefault>
            <label for="channel">{{notfTypes.getPropertyByKey(formGroup.controls.type.value).endpoint}}:</label>
            <input  type="{{notfTypes.getPropertyByKey(formGroup.controls.type.value).formType}}" 
              class="form-control" id="channel" required formControlName="channel">
            <div [hidden]="formGroup.controls.channel.valid || formGroup.controls.channel.pristine" 
              class="inline-error" >{{notfTypes.getPropertyByKey(formGroup.controls.type.value).endpoint}} is required
            </div>  
              
          </div>

              
          </div>

      </div> 

    <hr class="my-5">
    <h5 class="mb-3">Subscribtion to Notification Policies</h5> 
    
      <div  class="form-group offset-md-1 offset-lg-2 col-md-10 col-lg-4">
      <small class="form-text text-muted mb-3">The notification policy determines when the notification is sent.</small> 

        <div class="card text-center" *ngIf="policies?.length === 0">
        <div class="card-body bg-light">
            <p class="card-text">You do not have any notification policies to subscribe channels, in order to get alerts add a one.</p>
          </div>
        </div>

        <div formGroupName="policy_ids">
          <div class="form-check" *ngFor="let policy of policies; let i= index">
            <input class="form-check-input" type="checkbox" [formControlName]="policy._id" id="policy-id-{{i}}">
            <label class="form-check-label" for="policy-id-{{i}}">
              {{policy.name}} 
            </label>
          </div>
        </div>
      </div>

      <div class="btn-group offset-md-1 offset-lg-2 col-md-10 col-lg-4 mt-3">
        <button type="submit" class="btn btn-primary mr-2" [disabled]="!formGroup.valid">Save</button>
        <button type="button" class="btn btn-light" [routerLink]="['/notf-channels']">Cancel</button>
      </div>

    </form>


