<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  {{message}}
</div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <h3>New Channel</h3> 
      <div class="form-group offset-2 col-4">
        <label for="name">Channel name:</label>
        <input type="text" class="form-control" id="name" formControlName="name"
            placeholder="" required >
            
        <div [hidden]="formGroup.controls.name.valid || formGroup.controls.name.pristine"
        class="inline-error">
          Channel name is required
        </div>

      </div>

      <div class="form-group offset-2 col-4">
        <label for="type">Channel Type:</label>
        <!--formGroup.controls.channel.reset()-->
        <select class="form-control" id="type" formControlName="type" (change)="channelChange()"> 
          <option *ngFor="let type of types" [ngValue]="type.typeKey">{{type.label}}</option>
        </select>
      </div> 
    
      <div class="form-group offset-2 col-4">
        <div [ngSwitch]="formGroup.controls.type.value" >
          <div *ngSwitchCase = "'sms'">
            <label for="phone">{{notfTypes.getPropertyByKey(formGroup.controls.type.value).endpoint}}:</label>
            <ngx-intl-tel-input 
              id="sms"
              [cssClass]="'form-control'" 
              [separateDialCode] = "true"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true" 
              [enablePlaceholder]="false" 
              [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false" 
              [selectedCountryISO]="CountryISO.UnitedStates"
              [maxLength]="15" 
              [tooltipField]="TooltipLabel.Name" 
              [phoneValidation]="true" 
              [separateDialCode]="separateDialCode"
              formControlName="sms">
            </ngx-intl-tel-input> 
            <div [hidden]="formGroup.controls.sms.valid || !formGroup.controls.sms.touched" 
              class="inline-error" >{{notfTypes.getPropertyByKey(formGroup.controls.type.value).endpoint}} is required and must be valid.
            </div>  
          </div>

          <div *ngSwitchDefault>
            <label for="channel">{{notfTypes.getPropertyByKey(formGroup.controls.type.value).endpoint}}:</label>
            <input  type="{{notfTypes.getPropertyByKey(formGroup.controls.type.value).formType}}" 
              class="form-control" id="channel" required formControlName="channel">
            <div [hidden]="formGroup.controls.channel.valid || formGroup.controls.channel.pristine" 
              class="inline-error" >{{notfTypes.getPropertyByKey(formGroup.controls.type.value).endpoint}} is required
            </div>  
              
          </div>

              
          </div>

      </div> 



      <div class="btn-group offset-2 col-4 top-buffer">
        <button type="submit" class="btn btn-primary mr-2" [disabled]="!formGroup.valid">Save</button>
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/notf-channels']">Cancel</button>
      </div>

    </form>


