<app-header></app-header> 
<ngx-ui-loader></ngx-ui-loader>

<ng-sidebar-container>
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened"
      [mode]="mode"
      [dock]="auth.loggedIn"
      [dockedSize]="'50px'"
      [closeOnClickOutside] = "isSmall"
      [autoFocus] = "false"
      [autoCollapseWidth]="minWidth">
        <app-sidebar (sideBar)="toggleMenu()" *ngIf="auth.loggedIn"></app-sidebar>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
      <div class="container-fluid">
        <div class="row">
          <main role="main" class="col-md-11 col-lg-11 mx-auto mt-5"> 
              <router-outlet></router-outlet>
          </main>
        </div>
      </div>
    </div>
  </ng-sidebar-container>