   <div class="container p-0 m-0">
    <nav class="sidebar">
  
        <div class="sidebar-sticky">
          
          <ul class="nav flex-column"> 
            <li class="nav-item">
                <a class="nav-link" (click)="toggleMenu()" title="Toggle Menu">
                  <i class="fa fa-angle-double-left fa-wa menu-left" aria-hidden="true"></i>
                  <i class="fa fa-angle-double-right fa-wa menu-right" aria-hidden="true"></i> 
                </a>
              </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" title="Home" routerLinkActive="active" [routerLinkActiveOptions] = "{exact:true}" routerLink="/">
                <i class="fa fa-home fa-wa" aria-hidden="true"></i>
                <span class="menu-text-label">Home</span> 
              </a>
            </li>
            -->

            <li class="nav-item">
              <a class="nav-link" title="Probes" routerLinkActive="active" routerLink="/probes">
                <i class="fa fa-line-chart fa-wa" aria-hidden="true"></i>
                <span class="menu-text-label">Probes</span> 
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" title="Events" routerLinkActive="active" routerLink="/events">
                  <i class="fa fa fa-heartbeat" aria-hidden="true"></i>
                  <span class="menu-text-label">Events</span> 
                </a>
              </li>

          </ul>
  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            
              <span class="divider"> Notifications</span>
            <a class="d-flex align-items-center text-muted" href="#">
            </a>
          </h6>
  
          <ul class="nav flex-column mb-2">

            <li class="nav-item" role="menuitem">
              <a class="nav-link" title="Notification Policies" routerLinkActive="active" routerLink="/notf-policies" >
                <i class="fa fa-bell-o fa-wa" aria-hidden="true"></i>
                <span class="menu-text-label">Policies</span>
              </a>
            </li>

            <li class="nav-item" role="menuitem">
              <a class="nav-link" title="Notification Channels" routerLinkActive="active" routerLink="/notf-channels" >
                <i class="fa fa-address-book-o fa-wa" aria-hidden="true"></i>
                <span class="menu-text-label">Channels</span>
              </a>
            </li>
            
            <li class="nav-item" role="menuitem">
              <a class="nav-link" title="Notification History" routerLinkActive="active" routerLink="/notf-history" >
                <i class="fa fa-history fa-wa" aria-hidden="true"></i>
                <span class="menu-text-label">History</span>
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span class="divider">Account</span>
              <a class="d-flex align-items-center text-muted" href="#">
              </a>
          </h6>

          <ul class="nav flex-column mb-2">
            <li class="nav-item" role="menuitem">
                <a class="nav-link" title="Account Settings" routerLinkActive="active" routerLink="/account" >
                  <i class="fa fa-cog fa-wa" aria-hidden="true"></i>
                  <span class="menu-text-label">Settings</span>
                </a>
              </li>
          </ul>
        </div>
        
      </nav>
  </div>