<p></p>
<script src="node_modules/chart.js/src/chart.js"></script>
<h3>Chart</h3> 
<div class="row">
    <div class="col-md-12">
      <div style="display: block;">
      <canvas baseChart width="400" height="150"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
  <br>
  <h3>Table View</h3>
<br>
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Probe Time</th>
        <th scope="col">Status Code</th>
        <th scope="col">Response Time</th>
        <th scope="col">Content Chcek</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let probeResult of probeResults">
        <td>{{probeResult.probeTime | date:'shortTime'}}</td>
        <td>{{ probeResult.statusCode }} </td>
        <td>{{ probeResult.responseTime | number:'0.0-2' }} ms</td>
        <td>{{ probeResult.contentCheck }}</td>
   
      </tr>
    </tbody>
  </table>  
  