<script src="node_modules/chart.js/src/chart.js"></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/probes']">Probes</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{probe.probeURL}}</li>
    </ol>
</nav>

<div class="d-flex flex-row-reverse">
  <div class="p-1">
    <div class="btn-group p-0" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-menu"
              aria-controls="dropdown-basic">
              <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i><span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/probe-edit', probe._id]" >Edit</a></li>
        <li role="menuitem"><button class="btn dropdown-item"  (click)="toggleProbeStatus(probe._id,!probe.active)" >
            {{ probe.active ? 'Pause' : 'Resume' }}
        </button></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><button class="btn dropdown-item" (click) = "confirmDeletion(probe._id);" >Delete</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div [hidden] = "!probe.active">

  <div style="text-align:end">
    <div class="mb-1">
      <label for="btn-group-date-range" style="padding-right:15px">Show data for last: </label>
      <div class="btn-group" role="group" aria-label="Basic example" id="btn-group-date-range">

        <button *ngFor = "let range of allTimeRanges" (click)="setTimeRange(range.value)"  type="button" class="btn btn-sm" 
          [ngClass]="timeRange == range.value ? 'btn btn-primary' :  'btn-secondary'"> {{range.label}}
        </button>
        
      </div>
    </div>  

    <label for="btn-group-display-mode" style="padding-right:15px">Display:</label>
    <div class="btn-group" role="group" aria-label="Basic example" id="btn-group-display-mode">
      <button 
        (click)="setLocation('')" 
        type="button" class="btn btn-sm" 
        [ngClass]="locName == '' ? 'btn btn-primary' : 'btn-secondary'">
        Overview
      </button>
      
      <button  *ngFor = "let location of probe.locations"
        (click)="setLocation(location)" 
        type="button" class="btn btn-sm" 
        [ngClass]= "locName == location ? 'btn btn-primary' : 'btn-secondary'">
        {{locationLabels[location]}}
      </button>

    </div>
  </div>

  <div [hidden] = "noData" class="mt-3">
    <div class="row">
        <div class="col-12">
            <canvas baseChart #baseChart="base-chart"  width="400" height="150"
              [datasets]="lineChartData"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
        </div>
      </div>

    <br>
    <table class="table table-hover table-sm text-right px-2" *ngIf="!aggregated else aggregatedTemplate">
        <thead class="thead-dark">
          <tr>
            <th class="text-left" scope="col">Probe Time</th>
            <th class="text-left" scope="col">Chcek Location</th>
            <th class="text-left" scope="col">Status Code</th>

            <th class="d-none d-lg-table-cell" scope="col">DNS <small>ms</small></th>
            <th class="d-none d-lg-table-cell" scope="col">Wait <small>ms</small></th>
            <th class="d-none d-lg-table-cell" scope="col">TCP <small>ms</small></th>
            <th class="d-none d-lg-table-cell" scope="col">First Byte <small>ms</small></th>
            <th class="d-none d-lg-table-cell" scope="col">Download <small>ms</small></th>

            <th scope="col">Response Time <small>ms</small></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let probeResult of probeResults">
            <th class="text-left" scope="row">{{probeResult.probeTime | date:'shortTime'}}</th>
            
            <td class="text-left"><small>{{locationLabels[probeResult.locName]}}</small></td>
            <td class="text-left"*ngIf="!probeResult.error; else error">
              <small 
                [ngClass]="{'badge':true, 'badge-success':probeResult.statusCode == '200'}">{{ probeResult.statusCode }} 
              </small>
            </td>
              
            <ng-template #error>
            <td class="text-left"><small class="badge badge-danger">{{ probeResult.error }} </small></td></ng-template>

            <td class="d-none d-lg-table-cell"><small>{{ probeResult.timingPhases?.dns | number:'0.0-2' }}</small></td>
            <td class="d-none d-lg-table-cell"><small>{{ probeResult.timingPhases?.wait | number:'0.0-2' }}</small></td>
            <td class="d-none d-lg-table-cell"><small>{{ probeResult.timingPhases?.tcp | number:'0.0-2' }}</small></td>
            <td class="d-none d-lg-table-cell"><small>{{ probeResult.timingPhases?.firstByte | number:'0.0-2' }}</small></td>
            <td class="d-none d-lg-table-cell"><small>{{ probeResult.timingPhases?.download | number:'0.0-2' }}</small></td>

            
            <td class="text-right pr-2">{{ probeResult.responseTime | number:'0.0-2' }}</td>
          </tr>
        </tbody>
      </table> 
      <ng-template #aggregatedTemplate>
        <table class="table table-hover table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Reporting Period</th>
              <th  scope="col">Chcek Location</th>
              <th scope="col">Uptime <small>%</small></th>

              <th class="d-none d-lg-table-cell" scope="col">Avg. DNS <small>ms</small></th>
              <th class="d-none d-lg-table-cell" scope="col">Avg. Wait <small>ms</small></th>
              <th class="d-none d-lg-table-cell" scope="col">Avg. TCP <small>ms</small></th>
              <th class="d-none d-lg-table-cell" scope="col">Avg. First Byte <small>ms</small></th>
              <th class="d-none d-lg-table-cell" scope="col">Avg. Download <small>ms</small></th>


              <th scope="col">Avg. Response Time (ms)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let probeResult of probeResults">
              <th class="pl-2" scope="row">{{probeResult.probeTime | date:'shortTime'}}</th>
              <td class="pl-2"><small>{{probeResult.locName}}</small></td>
              
              <td class="text-right pr-2">{{ probeResult.uptime | percent:'0.0-2' }}</td>

              <td class="text-right pr-2 d-none d-lg-table-cell"><small>{{ probeResult.timingPhases?.dns | number:'0.0-2' }}</small></td>
              <td class="text-right pr-2 d-none d-lg-table-cell"><small>{{ probeResult.timingPhases?.wait | number:'0.0-2' }}</small></td>
              <td class="text-right pr-2 d-none d-lg-table-cell"><small>{{ probeResult.timingPhases?.tcp | number:'0.0-2' }}</small></td>
              <td class="text-right pr-2 d-none d-lg-table-cell"><small>{{ probeResult.timingPhases?.firstByte | number:'0.0-2' }}</small></td>
              <td class="text-right pr-2 d-none d-lg-table-cell"><small>{{ probeResult.timingPhases?.download | number:'0.0-2' }}</small></td>

              <td class="text-right pr-2">{{ probeResult.responseTime | number:'0.0-2' }} ms</td>
            </tr>
          </tbody>
        </table> 
        </ng-template>
  </div>
  
  <div class="row h-100" [hidden]="!noData">
      <div class="col-12 my-auto" >
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Waiting for data.</h5>
            <p class="card-text">You should start seeing data within a few minutes.</p>
          </div>
        </div>
      </div>
  </div>

</div>

<div class="row h-100" [hidden] = "probe.active">
  <div class="col-12 my-auto" >
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">This probe is paused</h5>
        <p class="card-text">In order to start monitoring you should resume the probe.</p>
        <button class="btn btn-primary"  (click)="toggleProbeStatus(probe._id,!probe.active)" > 
            {{ probe.active ? 'Pause' : 'Resume' }} </button>
      </div>
    </div>
  </div>
</div>
