<p></p>
<script src="node_modules/chart.js/src/chart.js"></script>
<div align="right">
<label for="btn-group-date-range" style="padding-right:15px">Show data for last: </label>
<div class="btn-group" role="group" aria-label="Basic example" id="btn-group-date-range">
  <button (click)="setTimeRange(60)" type="button" class="btn btn-secondary btn-sm">1 Hour</button>
  <button (click)="setTimeRange(6*60)" type="button" class="btn btn-secondary btn-sm">6 Hours</button>
  <button (click)="setTimeRange(24*60)" type="button" class="btn btn-secondary btn-sm">24 Hours</button>
  <button (click)="setTimeRange(3*24*60)" type="button" class="btn btn-secondary btn-sm">3 days</button>
  <button (click)="setTimeRange(7*24*60)" type="button" class="btn btn-secondary btn-sm">7 days</button>
  <button (click)="setTimeRange(30*24*60)" type="button" class="btn btn-secondary btn-sm">30 days</button>
</div>
<br><br>

<label for="btn-group-display-mode" style="padding-right:15px">Display:</label>
<div class="btn-group" role="group" aria-label="Basic example" id="btn-group-display-mode">
  <button (click)="setLocation('')" type="button" class="btn btn-secondary btn-sm">Overview</button>
  <button (click)="setLocation('WEST US 2')" type="button" class="btn btn-secondary btn-sm">WEST US 2</button>
  <button (click)="setLocation('LOCAL')" type="button" class="btn btn-secondary btn-sm">LOCAL</button>
</div>
</div>
<br><br>
<h3>Chart</h3> 
<div class="row">
    <div class="col-md-12">
      <div style="display: block;">
      <canvas baseChart width="400" height="150"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
  <h3>Table View</h3>
<br>
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Probe Time</th>
        <th scope="col">Status Code</th>
        <th scope="col">Response Time</th>
        <th scope="col">Content Chcek</th>
        <th scope="col">Chcek Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let probeResult of probeResults">
        <td>{{probeResult.probeTime | date:'shortTime'}}</td>
        <td>{{ probeResult.statusCode }} </td>
        <td>{{ probeResult.responseTime | number:'0.0-2' }} ms</td>
        <td>{{ probeResult.contentCheck }}</td>
        <td>{{ probeResult.locName }}</td>
      </tr>
    </tbody>
  </table>  
  