<div class="row" style="height: 70vh;">
    <div class="col-12 my-auto" >
      <div class="card text-center">
      <div class="card-body">
          <i class="fa fa-4x mb-3 text-secondary" 
            [ngClass]="success ? 'fa-check-circle-o' : 'fa-exclamation-circle'" aria-hidden="true"></i>
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{message}}</p>
          <button routerLink = "/" class="btn btn-outline-primary mt-3">Go Home</button>
        </div>
      </div>
    </div>
  </div>