<div class="alert" [ngClass]="success ? 'alert-success' : 'alert-danger'" role="alert" *ngIf="message !== ''">
    {{message}}
</div>

<ng-container *ngIf="viewMode==='form'; else feedback">
  <form novalidate class="form-signin" (ngSubmit)="signup()" #signupForm="ngForm" >

      <div class="alert alert-danger" role="alert" *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)">
        <ng-container *ngIf="userPassword.errors?.mismatch;
          then first else second">
        </ng-container>
        <ng-template #first> Password does not match the confirm password.</ng-template>
        <ng-template #second>Password needs to be more than 6 characters.</ng-template>
      </div>

      <h4 class="mb-3">Sign Up Now</h4>
      <div class="offset-md-1 col-md-5 col-lg-4 col-xl-3">

      <div class="form-group">
      <label for="name" >Name:</label>
      <input type="text" name="name" id="name" placeholder="Type your name" class="form-control"  
      [(ngModel)]="signupData.name" required> 
      </div>

      <div class="form-group">
      <label for="inputEmail"  >Email address:</label>
      <input type="email" class="form-control" placeholder="you@example.com" 
      [(ngModel)]="signupData.email" name="email" required email [ngModelOptions]="{updateOn: 'blur'}"/>
      </div>

      <div ngModelGroup="passwordGroup" #userPassword="ngModelGroup" passwordMatch >
          <div class="form-group">
          <label for="inputPassword" >Password:</label>
          <input id="inputPassword"  minlength ="6" type="password" class="form-control" 
            placeholder="Password" [(ngModel)]="signupData.password" name="pwd" #password="ngModel" [ngModelOptions]="{updateOn: 'blur'}" />
          </div>

          <div class="form-group">
          <label for="confirmPassword" >Confirm Password:</label>
          <input id="confirmPassword"  type="password" class="form-control" 
          placeholder="Confirm Password" [(ngModel)]="signupData.confirmPassword" name="confirmPwd" [ngModelOptions]="{updateOn: 'blur'}"   />
        </div>
    </div>

    <div class="form-group">
      <re-captcha  required 
      (resolved)="resolved($event)" 
      siteKey="6LfzQ2gUAAAAAJiXvN0pGIY_fEjIUyireKYU07GD"
      data-size="compact"
      ></re-captcha>
    </div>
    <div class="form-group">
      <button class="form-control btn btn-primary" type="submit" [disabled]="!signupForm.form.valid">Sign Up</button>
    </div>

    <div class="form-group">
        Already have an account? <a [routerLink]="['/login']">Sign in</a><br>
    </div>

    </div>
  </form>
</ng-container>

<ng-template #feedback>

    <div class="row" style="height: 70vh;">
        <div class="col-12 my-auto" >
          <div class="card text-center">
          <div class="card-body">
              <i class="fa fa-4x  fa-inbox mb-3 text-secondary"  aria-hidden="true"></i>
              <h5 class="card-title">Confirm your Email address.</h5>
              <p>Please check your inbox for a confirmation email. It could take up to minutes to show up in your inbox.</p>
              <p>If you didn't receive a verification email, you can resend it. </p>
              <button [routerLink]="['/login']" type="link" class="btn btn-primary my-3 mr-3">Sign In</button>
              <button  [disabled]="dibsableButton" class="btn btn-link" (click)="resendToken()">Resend</button> 
            </div>
          </div>
        </div>
      </div>

</ng-template>


