<h4>Notification Channels</h4>
<div *ngIf="channels?.length == 0; then emptyPage else content"></div>
<ng-template #emptyPage>
  <div class="row" style="height: 70vh;">
    <div class="col-12 my-auto p-5" >
      <div class="card text-center">
      <div class="card-body">
          <h5 class="card-title">No Notification Channels</h5>
          <p class="card-text">You do not have any notification Channels, in order to get alerts add a one.</p>
          <button routerLink = "/notf-channels-new" class="btn btn-primary">
            <i class="fa fa-plus mr-2" aria-hidden="true"></i>New Channel</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #content>
<div class="d-flex mb-2">
    <button type="button" class="btn btn-primary ml-auto" routerLink = "/notf-channels-new" ali>
      <i class="fa fa-plus mr-1" aria-hidden="true"></i>New Channel</button>
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="d-none d-md-table-cell">Channel Name:</th>
      <th scope="col" class="d-none d-lg-table-cell">Type:</th>
      <th scope="col">Endpoint:</th>
      <th scope="col">Status</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let channel of channels">
      
      <td class="d-none d-md-table-cell">{{ channel.name }}</td>
      <td class="d-none d-lg-table-cell">{{notfTypes.getPropertyByKey(channel.type).label}}</td>
      <td >{{ channel.channel }}</td>
      <td>
          <span *ngIf="channel.isVerified; else elseBlock" class="badge badge-light">Active</span>
          <ng-template #elseBlock><a class="badge badge-warning" [routerLink]="['/notf-channels-verify', channel._id]">
            Unverified</a></ng-template>
      </td>
      <td>
       
          <div class="btn-group float-right" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-menu"
                      aria-controls="dropdown-basic">
                      <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                  role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" [routerLink]="['/notf-channels-edit', channel._id]" >Edit</a></li>
                <li role="menuitem" *ngIf="!channel.isVerified">
                  <a class="dropdown-item" [routerLink]="['/notf-channels-verify', channel._id]" >Verify</a>
                </li>

                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><button class="btn dropdown-item" (click) = "confirmDeletion(channel._id)" >Delete</button>
                </li>
              </ul>
            </div>
            
    </td>
    </tr>
  </tbody>
</table>
</ng-template>