<h3>Notification Channels</h3>
<div>
    <button type="button" class="btn btn-primary float-right" routerLink = "/notf-channels-new" ali>New Channel</button>
</div>
<br><br>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Channel Name:</th>
      <th scope="col">Type:</th>
      <th scope="col">Endpoint:</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let channel of channels">
      
      <td><a [routerLink]="['/notify-channel-edit', channel._id]">{{ channel.name }}</a></td>
      <td>{{ channel.type }}</td>
      <td>{{ channel.channel }}</td>
      <td>
       
          <div class="btn-group float-right" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn  dropdown-toggle"
                      aria-controls="dropdown-basic">
               Actions <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" [routerLink]="['/notf-channels-edit', channel._id]" >Edit</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><button class="btn dropdown-item" (click) = "deleteNotifyPolicy(channel._id)" >Delete</button>
                </li>
              </ul>
            </div>
            
    </td>
    </tr>
  </tbody>
</table>  