
 <form novalidate class="form-signin" (ngSubmit)="reset()" #signupForm="ngForm" *ngIf="showForm; else hasSent">

    <div class="alert alert-warning" role="alert" *ngIf="message !== ''">
      {{message}}
    </div>

    <h2 class="form-signin-heading" style="padding-bottom: 20px">Reset Password</h2>

    <p>A reset password link will be sent to the provided email address.</p>
    
    <div class="form-group">
      <label for="inputEmail" class="col-lg-3">Email address:</label>
      <input type="email" class="form-control col-lg-3" placeholder="you@example.com" 
      [(ngModel)]="signupData.email" name="email" required email [ngModelOptions]="{updateOn: 'blur'}"/>
    </div>
    
    <div class="form-group">
      <re-captcha  data-size="compact" required (resolved)="resolved($event)" siteKey="6LfzQ2gUAAAAAJiXvN0pGIY_fEjIUyireKYU07GD"></re-captcha>
    </div>
    <div class="form-group">
        <button class="col-lg-3 btn btn-md btn-primary" type="submit" [disabled]="!signupForm.form.valid">Continue</button>
    </div>
  </form>

    <ng-template #hasSent>
      <h2 class="form-signin-heading" style="padding-bottom: 20px">Email sent!</h2>
      <div>{{message}}</div>
    </ng-template>
