

    <div *ngIf="showForm; else hasSent">
      <div class="alert alert-warning" role="alert" *ngIf="message !== ''"> {{message}} </div>

      <h4 class="mb-3">Reset Password</h4>
      <p class="mb-3">A reset password link will be sent to the provided email address.</p>
      
      <div class="offset-md-1 col-md-5 col-lg-4 col-xl-3">  
        <form novalidate class="form-signin" (ngSubmit)="reset()" #signupForm="ngForm">
          <div class="form-group">
            <label for="inputEmail">Email address:</label>
            <input type="email" class="form-control" placeholder="you@example.com" 
            [(ngModel)]="signupData.email" name="email" required email [ngModelOptions]="{updateOn: 'blur'}"/>
          </div>
          
          <div class="form-group">
            <re-captcha  data-size="compact" required (resolved)="resolved($event)" siteKey="6LfzQ2gUAAAAAJiXvN0pGIY_fEjIUyireKYU07GD"></re-captcha>
          </div>
          
          <div class="form-group">
              <button class="form-control btn btn-primary" type="submit" [disabled]="!signupForm.form.valid">Continue</button>
          </div>
        </form>

       

      </div>
  </div> 

  <ng-template #hasSent>
        <h4 class="mb-3">Email sent!</h4>
        <p>{{message}}</p>
  </ng-template>
  

   
