//$primary: #0B5388;
$primary:#0C53A6;
$enable-rounded:true;
$jumbotron-bg:#f7f6f6;
$hover-color:#fafbfc;
$font-family-base:Roboto !default;
$font-family-sans-serif: Roboto !default;


$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600; 
$headings-font-weight: 400;