/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "../node_modules/font-awesome/css/font-awesome.css";


.iti { width: 100%; }

html,body {
    height: 100%;
}

.top-buffer { 
    margin-top:40px; 
  }

.btn-menu {
    border-radius: 0;
}
  
.btn-menu:hover {
    background-color:#dad8d8;
}

.table {
    font-size: 1em;
}
