<h2>Account Settings</h2>
<div class="card">
    <div class="card-body">
      <h4>{{userInfo.name}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{userInfo.email}}</h6>
    </div>
  </div>
  <accordion closeOthers="true">
    <accordion-group heading="Change password">




    </accordion-group>
    <accordion-group heading="Change E-mail">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Terminate Account">
      <p>Some content</p>
    </accordion-group>
  </accordion>