<h4 class="mb-3">Account Settings</h4>

<tabset>

      <tab heading="Profile" id="profile" (selectTab)="onSelect($event)">

          <div class="card mt-3">
              <div class="card-body">
                <h6>{{userInfo.name}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{userInfo.email}}</h6>
              </div>

              <ul class="list-group list-group-flush mx-3">
                  <li class="list-group-item" *ngIf="!userInfo.isActive">
                    <div class="alert alert-danger" role="alert">
                      This account does not have an active <a class="alert-link" (click) = "fragment = 'subscription'">subscription</a>.
                    </div></li>
                  <li class="list-group-item" *ngIf="userInfo.isActive">Account is active till: {{userInfo.subscription?.endDate | date }}</li>
                  <li class="list-group-item" *ngIf="userInfo.subscription?.lastRenewal">Last renewal: {{userInfo.subscription?.lastRenewal | date}}</li>
                  <li class="list-group-item">Probes: Used {{userInfo.subscription?.usage.probesCount}} out of {{userInfo.subscription?.usage.maxAllowedProbesCount}}</li>
                  <li class="list-group-item">Free SMS credits per billing cycle : {{userInfo.subscription?.usage.subscriptionSmsCredits}}</li>
                  <li class="list-group-item">SMS credits: {{userInfo.subscription?.usage.smsCredits}}</li>
                </ul>
            </div>
      </tab>

      <tab heading="Change Password" id="change-password" (selectTab)="onSelect($event)">
        <app-change-password></app-change-password>
      </tab>

      <tab heading="Subscription" id="subscription" [active]="fragment === 'subscription'" (selectTab)="onSelect($event)">
          <app-subscription></app-subscription>
      </tab>

      <tab heading="Buy SMS Credits" (selectTab)="onSelect($event)" id="buy-sms-credits">
          <app-sms-balance></app-sms-balance>
      </tab>

      <tab heading="Payment Methods" [active]="fragment === 'payment-methods'" (selectTab)="onSelect($event)" id="payment-methods">
          <app-payment-method-list></app-payment-method-list>
      </tab>

      <tab heading="Billing History" (selectTab)="onSelect($event)" id="billing-history">
        <div class="mt-3">
           <app-billing-history ></app-billing-history>
        </div>
      </tab>

      <tab heading="Terminate Account" (selectTab)="onSelect($event)" id="terminate-account">
          <form novalidate class="form-terminate mt-3" (ngSubmit)="terminate()" #terminationForm="ngForm">

              <div>This will immediately log you out of your account and you will not be able to log in again.
                <br>
              </div>
              <div class="form-check mt-3">
                  <input type="checkbox" 
                    [(ngModel)]="terminationConsent"
                    [ngModelOptions]="{standalone: true}"
                    class="form-check-input" id="terminationConsent">
                  <label class="form-check-label" for="terminationConsent">I want to delete my account.</label>
              </div>
              <br/>
            <button class="btn btn-danger btn-block col-lg-3" type="submit" [disabled]="!terminationConsent">Terminate Account</button>   
              </form>

      </tab>
     
    </tabset>