<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div style="height:50px;"></div>
    <h3>Notofication Policy</h3> 

    <div class="form-group">
      <label for="">Policy name:</label>
      <input name="policy_name" type="text" class="form-control" id="policy_name" 
          placeholder="Policy name" required [(ngModel)]="data.name" #policyName="ngModel">
    </div>
    
    <div [hidden]="policyName.valid || policyName.pristine"
       class="alert alert-danger">
       Policy name is required
  </div>
   
  <div class="form-group">
    <label for="threshold_loc">Location failure threshold:</label>
    <select class="form-control" id="threshold_loc" name="threshold_loc" [(ngModel)]="data.threshold_loc" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  
  <div class="form-group">
    <label for="threshold_policy">Location failure threshold:</label>
    <select class="form-control" id="threshold_policy" name="threshold_policy" [(ngModel)]="data.threshold_policy" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-check">
      <input class="form-check-input" type="checkbox" name="recovery"  id="recovery" [(ngModel)]="data.recovery">
      <label class="form-check-label" for="recovery" >
        Notify on recovery
      </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="continuous"  id="continuous" [(ngModel)]="data.continuous">
        <label class="form-check-label" for="continuous" >
            Continuous Notifications
        </label>
      </div>
      <br/> 
     <h3>Notification Channels</h3> 
     <div class="form-group">
      <label for="channels">Notification channels (multiple select):</label>
      <select multiple class="form-control" name="channel" id="channels" [(ngModel)]="data.channel_ids" >
        <option *ngFor="let channel of channels" value="{{channel._id}}">{{channel.name}} - {{channel.channel}} </option>
      </select>
    </div>
    <br>
         <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Save</button>
      <br/>
  </form>